{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<main>
  <form action="/add_order/{{customer.id}}/" method="POST" class="add-order-form">
         {% csrf_token %}
         <div class="add-order-container">
         <label for="name">Name:</label>
         <input  class="input-text" type="text" id="name" name="name" value="{{customer.name}}">
         
         <label for="last">Last:</label>
         <input  class="input-text" type="text" id="last" name="last" value="{{customer.last}}">
         
         <label for="description">Descr:</label>
         <input  class="input-text" type="text" id="description" name="description" placeholder="description" required>
       
         <label for="price">Price:</label>
         <input  class="input-text" type="text" id="price" name="price" placeholder="price" required>

         <label for="is_paid">Is paid: </label>
         <input  class="input-text" type="checkbox" id="is_paid" name="is_paid">

         <label for="who_paid">Who paid:</label>
         <input  class="input-text" type="text" id="who_paid" list="whoPaid_list" name="who_paid" placeholder="Who Paid">
         <datalist id="whoPaid_list">
           <option value="{{customer.name}}">
           <option value="{{customer.parent.name}}">
         </datalist>

         <label for="payment_method">Method: </label>
         <input  class="input-text" type="text" list="paymentMethod_list" id="payment_method" name="payment_method">
         <datalist id="paymentMethod_list">
           <option value="CASH">
           <option value="CARD">
         </datalist>
         <button class="add-button search-button">ADD</button>
       </div>
   </form>
</main>





{% endblock %}