{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <main>
        <form action="/add_order/{{customer.id}}/" method="POST" class="add-order-form">
            {% csrf_token %}
            <div class="add-order-basic">
              <label for="name">Name:</label>
            <input  class="input-text" type="text" id="name" name="name" value="{{ customer.name }}">
            
            <label for="name">LAst:</label>
            <input  class="input-text" type="text" id="last" name="last" value="{{ customer.last }}">
            
            <label for="description">description:</label>
            <input  class="input-text" type="text" id="description" name="description" placeholder="description" required>
           
            <label for="price">price:</label>
            <input  class="input-text" type="text" id="price" name="price" placeholder="price" required>
              
              <div class="add-btn-container">
                <input class="add-order-btn" type="submit" value="Add">

              </div>
            

            </div>
            
          

            <div class="inAdvance-payment">
            <label for="price">Who paid:</label>
            <input  class="input-text" type="text" id="whoPaid" list="whoPAid_list" name="whoPaid" placeholder="Who PAid">
            <datalist id="whoPAid_list">
              <option value="{{customer.name}}">
              <option value="{{customer.parent.name}}">
            </datalist>
        
            <label for="datePaid">Date paid: </label>
            <input  class="input-text" type="date" id="datePaid" name="datePaid">
            <label for="paymentMethod">Payment Method: </label>
            <input  class="input-text" type="text" list="paymentMethod_list" id="paymentMethod" name="paymentMethod">
            <datalist id="paymentMethod_list">
              <option value="CASH">
              <option value="CARD">
            </datalist>
            </div>

        </form>
    </main>
{% endblock %}