{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <h1 class="app-title">PHarmacy APP</h1>

    </header>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'search_person' %}">Look For Person</a></li>
            <li><a href="{% url 'add_person' %}">Add Person</a></li>
            <li><a href="#">Check Last Activity</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>