{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <main>
        <form action="/search_person/" method="POST" class="last-five search-form common-usage">
            {% csrf_token %}
            <input  class="input-text" type="text" id="search" name="search" placeholder="type a name and last">
            <input class="search-button-person edit-button" type="submit" value="Search">
        </form>
          <section class="customer-list common-usage">
            <h5 class="section-title">Common Usage </h5>
            <div class="person-nav">
                <h6>id</h6>
                <h6>Name</h6>
                <h6>Cost</h6>
            </div>
            <hr>
            {% for customer in customers %}
            <div class="last-person">
                <h6><span>{{customer.id}}</span></h6>
                <h6>{{customer.name}}<br> {{customer.last}} </h6>
                {% if customer.total_owe.0 == 0 %}
                    <h6 class="person-price">NO OWE</h6>
                    {% elif customer.total_owe.0 != 0%}
                        <h6 class="person-price">{{customer.total_owe.0}}</h6>
                {% endif %}
                <h6>
                    <a class="search-button" href="{%url 'person' customer.id%}">
                        <img src="{% static 'images/search.png' %}"  alt="search button">
                        </a>
                </h6>

            </div>
            {% endfor %}

        </section>
    </main>

{% endblock %}